.app-bar {
  height: 55px;
  padding: 5px 30px;
  background-color: #00BCD4;
}
.logo {
  color: white;
  font-size: 26px;
  font-weight: 300;
  cursor: pointer;
}
.link {
  color: white;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer; 
}